@model MaarWindowBlindProduction.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WindowBlind</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatternNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatternNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClothReady)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClothReady)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrameReady)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrameReady)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPackaged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPackaged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
