@model IEnumerable<MaarWindowBlindProduction.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    <a asp-action="PlaceOrder">Place an order here</a>
</p>

<form method="get" action="OrderState">
    <input type="text" name="search" placeholder="Enter Order ID" />
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatternNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClothReady)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrameReady)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPackaged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatternNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClothReady)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FrameReady)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPackaged)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryStatus)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
