@model IEnumerable<MaarWindowBlindProduction.Models.Order>

@{
    ViewData["Title"] = "Pending orders";
}

<h1>Pending orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pattern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClothReady)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrameReady)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPackaged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-small">
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pattern.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothReady)
                    @if (User.IsInRole("Admin") || User.IsInRole("Clothier"))
                    {
                        <a asp-action="ClothierEdit" asp-route-id="@item.Id">Edit</a>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameReady)
                    @if (User.IsInRole("Admin") || User.IsInRole("Manufacturer"))
                    {
                        <a asp-action="ManufacturerEdit" asp-route-id="@item.Id">Edit</a>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPackaged)
                @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="PackagerEdit" asp-route-id="@item.Id">Edit</a>
                    }
                @if (item.ClothReady == true && item.FrameReady == true && User.IsInRole("Packager"))
                    {
                        <a asp-action="PackagerEdit" asp-route-id="@item.Id">Edit</a>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryStatus)
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="DelivererEdit" asp-route-id="@item.Id">Edit</a>
                    }
                    @if (item.ProductPackaged == true && User.IsInRole("Packager"))
                    {
                        <a asp-action="DelivererEdit" asp-route-id="@item.Id">Edit</a>
                    }
            </td>
            <td>
                    @if (User.IsInRole("Admin") && item.ClothReady == false && item.FrameReady == false && item.ProductPackaged == false && item.DeliveryStatus == false)
                    {
                        <a asp-action="DeleteOrder" asp-route-id="@item.Id">Delete order</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
